<!-- Generated template for the CskarticleComponent component -->
<div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Title
      </ion-card-title>
      <ion-row>
        Subtitle
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        Files (images)
      </ion-row>
      <ion-row>
        Urls
      </ion-row>
      <ion-row>
        Short description
      </ion-row>
      <ion-row>
        Long description
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>
